.upcoming-events-block {
    display: flex;
    /* justify-content: space-between; */
    width: 1170px;
    height: 400px;
    background: #F0F5FF;
    border-radius: 16px;
}

.upcoming-events {
    display: flex;
    flex-direction: column;
    width: 538px;
    height: calc(242px + 10px);
    margin-left: 30px;
    margin-top: 79px;

}

.upcoming-events__date {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.upcoming-events__date img {
    margin-right: 8px;
}

.upcoming-events__date span {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color: #191E28;
}

.upcoming-events__title {
    font-weight: 700;
    font-size: 32px;
    color: #191E28;
    line-height: 38px;
    margin: 0;
    margin-bottom: 16px;
}

.upcoming-events__content {
    color: #191E28;
    font-size: 16px;
    line-height: 26px;
    width: 538px;
    margin: 0;
    margin-bottom: 32px;
}

.upcoming-events__button {
    width: 216px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    color: #FFFFFF;
    background: #0082FF;
    border: none;
    cursor: pointer;
    font-family: Inter;
}

.upcoming-events__button:hover {
    background: #0084ffea;
}

.upcoming-events__button:active {
    background: #067be8;
}
