body {
    background: #F0F5FF;
}

.course-block {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    height: 400px;
    background: #FFFFFF;
    border-radius: 16px;
}

.zennoposter-course {
    display: flex;
    flex-direction: column;
    width: 538px;
    height: calc(292px + 6px);
    margin-left: 32px;
    margin-top: 54px;
}

.zennoposter-course__author {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.zennoposter-course__author img {
    margin-right: 8px;
}

.zennoposter-course__author span {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    color: #191E28;
}

.zennoposter-course__title {
    font-weight: 700;
    font-size: 32px;
    color: #191E28;
    line-height: 38px;
    margin: 0;
    margin-bottom: 16px;
}

.zennoposter-course__content {
    color: #191E28;
    font-size: 16px;
    line-height: 26px;
    width: 538px;
    height: 72px;
    margin: 0;
    margin-bottom: 32px;
}

.zennoposter-course__button {
    width: 186px;
    font-family: Inter;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    color: #FFFFFF;
    background: #0082FF;
    border: none;
    cursor: pointer;
}

.zennoposter-course__button:hover {
    background: #0084ffea;
}

.zennoposter-course__button:active {
    background: #067be8;
}
